h1 {
  font-size: 2.3em;
  margin-bottom: 2vh;
    @media (min-width: 1000px) {
      margin-bottom: 2vh;
  }
}

body {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

.page-wrap {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 10vh;

  @media (min-width: 1000px) {
    margin-top: 10vh;
    margin-bottom: 20vh;
  }
}

.button-container {
    margin-top: 15px;
}

.fortune-container {
  text-align: center;
  margin-top: 3vh;

    @media (min-width: 1000px) {
      margin-top: 4vh;
    }
}
